@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@* login register forms section *@
<section>
    <div class="row">
        @*illustration img*@
        <div class="col-md-6">
            <div class="p-3">
                <img src="~/images/notes.svg" class="img-fluid" alt="Intro img" />
            </div>
        </div>

        <div class="col-md-6">
            <div id="form" class="my-shadow">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab">Login</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab">Register</button>
                    </li>
                </ul>
                @* login and register tab button's' body *@
                <div class="tab-content py-3" id="myTabContent">
                    @* login part *@
                    <div class="tab-pane fade show active" id="login" role="tabpanel">
                        <div class="text-center mb-3">
                            <h5>Login to your account</h5>
                        </div>
                        <div>
                            <form asp-page-handler="login" method="post" id="loginForm">
                                <div class="mb-3">
                                    <label for="loginEmail" class="form-label">Email address</label>
                                    <input type="email" name="email" required class="form-control" id="loginEmail">
                                </div>
                                <div class="mb-3">
                                    <label for="loginPass" class="form-label">Password</label>
                                    <input type="password" name="password" required class="form-control" id="loginPass">
                                </div>
                                <div class="text-center">
                                    <button id="loginBtn" type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    @* register part *@
                    <div class="tab-pane fade" id="register" role="tabpanel">
                        <div class="text-center mb-3">
                            <h5>Register an account</h5>
                        </div>
                        <div>
                            <form method="post" id="regForm">
                                <div class="mb-3">
                                    <label for="fullName" class="form-label">Full name</label>
                                    <input type="text" name="fullName" required class="form-control" id="fullName">
                                </div>
                                <div class="mb-3">
                                    <label for="date" class="form-label">Birth date</label>
                                    <input type="date" name="birthDate" required class="form-control" id="birthDate">
                                </div>
                                <div class="mb-3">
                                    <label for="regEmail" class="form-label">Email address</label>
                                    <input type="email" name="email" required class="form-control" id="regEmail">
                                </div>
                                <div class="mb-3">
                                    <label for="regPass" class="form-label">Password</label>
                                    <input type="password" name="password" required class="form-control" id="regPass">
                                </div>
                                <div class="text-center">
                                    <button id="regBtn" type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* toast notification *@
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success">
                <strong class="text-white me-auto">Success</strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                Registration successful. You can now login.
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/js/regHandler.js"></script>
}