<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NotesAppClient</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @* scripts *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4 my-shadow">
            <div class="container">
                <a class="navbar-brand" href="/">NotesApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                Home
                            </a>
                        </li>

                        @{
                            if (ViewData["userData"] != null)
                            {
                                <li class="nav-item me-0">
                                    <a class="nav-link" asp-page-handler="logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item me-0">
                                    <a class="nav-link" href="/features">Features</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark py-5">
        <div class="container text-center">
            NotesApp by Sheikh Shakil Ahmed - 2022
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
